## Data Mining Lab <br/>
### Lab1<br/>
#### Name: Samarth Garg
#### Roll No: 2020IMT-085<br/>
Date: 4/08/2023

### Creating the DataFrame from the given data

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency
from scipy.stats import chi2

given_data = [
    [60, 54, 46, 41, 201],
    [40, 44, 53, 57, 194],
    [100, 98, 99, 98, 395]
]

columns = ['High School', 'Bachelors', 'Masters', 'Ph.d.', 'Total']
index = ['Female', 'Male', 'Total']

data = pd.DataFrame(given_data, index, columns)
data.head()

        High School  Bachelors  Masters  Ph.d.  Total
Female           60         54       46     41    201
Male             40         44       53     57    194
Total           100         98       99     98    395

## Chi-Square test (without SciPy Library)

### Step1: Creating the Expected Values Table

In [14]:
# creating expected values table as copy of the data table
expected_values = data.copy()

# find the expected values by traversing every row and column except total
for column in columns[:-1]:
  for row in index[:-1]:
    expected_values.loc[row, column] = data.loc[row, 'Total'] * data.loc['Total', column] / data.loc['Total', 'Total']

expected_values.head()

        High School  Bachelors    Masters      Ph.d.  Total
Female    50.886076  49.868354  50.377215  49.868354    201
Male      49.113924  48.131646  48.622785  48.131646    194
Total    100.000000  98.000000  99.000000  98.000000    395

### Step2: Calculating chi-square value $(O - E)^2\over E$ for every value

In [23]:
chi_square = ((data.iloc[:2, :4]-expected_values.iloc[:2, :4])**2/expected_values.iloc[:2, :4]).sum().sum()

chi_square

8.006066246262538

### Step3: Computing Test Statistic X<sup>2</sup> and degree of freedom

In [25]:
print("chi_square value = ", chi_square)

# independent rows in the table by removing total
r = len(index) - 1
c = len(columns) - 1

# degree of freedom
degree_of_freedom = (r - 1) * (c - 1)
print("Degree Of Freedom = ", degree_of_freedom)

chi_square value =  8.006066246262538
Degree Of Freedom =  3

### Step4: Final Result

Taking alpha as 0.05 and Degree Of Freedom as 3, the critical statistic comes out to be 7.815 which is less than our calculated test statistic. Therefore, we reject the null hypothesis i.e. we conclude that gender and education levels are related.

## Chi Square Test(using SciPy Library)

In [77]:
from scipy.stats import chi2_contingency

given_data = [
    [60, 54, 46, 41],
    [40, 44, 53, 57],
]

columns = ['High School', 'Bachelors', 'Masters', 'Ph.d.']
index = ['Female', 'Male']

data = pd.DataFrame(given_data, index, columns)
data.head()

x2, p, dof, expected = chi2_contingency(data)

expected = pd.DataFrame(expected, index, columns)
# Print the results
print(f"Chi-square value: {x2}")
print(f"Degrees of freedom: {dof}")

# Taking alpha value as 0.05 and calculating critical statistic
alpha = 0.05
critical_statistic = chi2.ppf(1-alpha, dof)
print(f"Critical Statistic: {critical_statistic}")


if x2 > critical_statistic:
  print("Test Statistic is greater than Critical Statistic, therefore we reject the null hypothesis")
else:
  print("Test Statistic is less than Critical Statistic, therefore we accept the null hypothesis")

Chi-square value: 8.006066246262538
Degrees of freedom: 3
Critical Statistic: 7.814727903251179
Test Statistic is greater than Critical Statistic, therefore we reject the null hypothesis

We get the same result using the library